body{
   
    background-image: url("https://thumbs.dreamstime.com/b/vertical-colorful-pastel-spring-summer-background-soft-light-blurred-easter-defocused-pale-wallpaper-rainbow-colors-backdrop-90174026.jpg");
    background-size: 100% 100%;
    font-family: 'Indie Flower', cursive;
}